.square{
    width: 12.5%;
    height: 100%;
   
    display:inline-block;
}

.img{
    width: 100px;
}

.lightSquare{
    background-color: rgb(196, 173, 173);
}

.darkSquare{
    background-color:black;
}